.alerta {
    padding: calc($separacion / 4);
    color: $blanco;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;

    &.error {
        background-color: $rojo;
    }

    &.exito {
        background-color: $verde;
    }

}