.dark-mode {
    background-color: darken($grisOscuro, 10);

    p {
        color: $blanco;
    }

    a,
    h1,
    h2,
    h3,
    h4 {
        color: $gris;
    }

    .anuncio,
    .resumen-propiedad {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio {
            color: $verde;
        }

        .icono {
            filter: invert(100%);
        }


    }

    .texto-nosotros blockquote {
        color: $blanco;
    }

    //Blog
    .texto-entrada h4 {

        color: $gris;
    }

    .formulario {

        label,
        legend,
        p {
            color: $gris;
        }

        input:not([type="submit"]),
        textarea,
        select {
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }

    .propiedades {
        background-color: $grisOscuro;
        color: $blanco;
    }

    //enlaces contacto
    .informacion-metas span a {
        color: $blanco;
    }

    .anuncio {
        &:hover {
            box-shadow: 0 0 25px lighten($azul, 30);
        }
    }

    //Administración de Citas
    #citas-admin p {
        color: $gris;

        span {
            color: $blanco;
        }
    }
}