.no-webp .inicio {
    background-image: url(../img/banner3.jpg);
}

.webp .inicio {
    background-image: url(../img/banner3.webp);
}

.header {
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    .barra {
        a {
            img {
                min-width: 20rem;
            }
        }
    }

    &.inicio {
        background-position: center center;
        background-size: cover;

        .dark-mode-boton {
            filter: invert(0%); //Volvemos el SVG a su color negro original

        }

        @include tablet {
            min-height: 70rem;
        }

        .contenido-header {
            @include tablet {
                min-height: 70rem;
            }
        }

        .mobile-menu {

            .mobile-boton {
                filter: invert(0%); //Volvemos el SVG a su color negro original
            }

        }
    }

}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 60rem;
    }
}

.dark-mode-boton {
    filter: invert(0%); //Como el SVG es negro, invertimos su color a blanco
}

// Creamos una nueva clase llamada header2 para implementar el método de JavaScript para que la barra de navegación esté fija en dispositivo con pantallas mayores a una tablet
.header2 {


    //añado para logo barra fija
    .logos {
        display: none;
    }

    @include tablet {
        &.fijo {
            margin-top: 0;
            left: 0;
            top: 0;
            position: fixed;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #333333;
            padding: 2rem;
            background-color: $grisOscuro;

            //mostrar barra fija
            .logos {
                display: flex; //mostrar la imagen
                max-width: 20rem;
            }

            .dark-mode-boton {
                filter: invert(100%); //Invertimos el color del SVG
            }
        }


    }
}