.contenido-resumen {
    p {
        margin-bottom: 1rem;
    }

    span {
        color: $azul;
        font-weight: $bold;
        font-size: 2.4rem;
    }

    .boton-2 {
        background-color: $azul;
        border: none;
        color: $blanco;
        padding: 1rem 3rem;
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: $bold;
        transition: background-color 300ms ease;

        &:hover {
            cursor: pointer;
            background-color: darken($azul, 20%);
            box-shadow: 0 0 25px lighten($azul, 30);
        }
    }
}

.contenedor-servicio {
    padding: 3rem 0;
    border-bottom: 1px solid $gris;

    &:last-of-type {
        margin-bottom: $separacion;
    }
}