.seccion2 {
    padding: 5rem 0;
    display: none;

    .text-center {
        text-align: center;
    }
}

.descripcion-pagina {
    text-align: center;
    margin: 5rem 0;
    font-weight: $bold;
}

.mostrar {
    display: block;
}

.ocultar {
    display: none;
}

.boton-eliminar-2 {
    background-color: $rojo;
    border: none;
    color: $blanco;
    // padding: 1rem;
    padding: 1rem 3rem;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: $bold;
    transition: background-color 300ms ease;

    &:hover {
        cursor: pointer;
        background-color: darken($azul, 20%);
        box-shadow: 0 0 25px lighten($azul, 30);
    }
}